<div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="../../assets/images/manutencao_custos.jpg" class="d-block w-100" alt="...">
      <div class="caption-wrapper">
        <div class="caption-content d-none d-md-block text-dark">
          <h5>Redução de Custos</h5>
          <p>A manutenção preventiva evita falhas inesperadas, prolonga a vida útil dos equipamentos, reduz gastos com
            reparos emergenciais e minimiza interrupções, otimizando os custos do hospital.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="../../assets/images/manutencao_planejada.jpeg" class="d-block w-100" alt="...">
      <div class="caption-wrapper">
        <div class="caption-content d-none d-md-block text-dark">
          <h5>Manutenção Planejada e Recorrente</h5>
          <p>A manutenção planejada e recorrente previne falhas, reduz custos com reparos emergenciais, aumenta a
            durabilidade dos equipamentos e garante operação contínua, evitando prejuízos financeiros.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="../../assets/images/manutencao_painel.jpg" class="d-block w-100" alt="...">
      <div class="caption-wrapper">
        <div class="caption-content d-none d-md-block text-dark">
          <h5>Nossos profissionais</h5>
          <p>Nossos técnicos especializados realizam manutenção planejada e preventiva em equipamentos hospitalares,
            garantindo
            segurança, eficiência e maior durabilidade dos equipamentos essenciais ao seu negócio.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>