<section class="contatos" id="contatos">
  <div class="container">
    <h1>Contate-nos</h1>
    <div class="contact-content">
      <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJH9e_pzQ3jgcRA28rsqrcHSA&key=AIzaSyA5uKuLK7dB8MUbhauUNOOMdIx9WUNcDWs">
      </iframe>
      <div class="contact-links">
        <a href="tel: +55 (86) 99905-6984">
          <i class="bi bi-telephone-fill"></i>
          Ligue para nós!
        </a>
        <a href="https://wa.me/5586994974080" target="_blank">
          <i class="bi bi-whatsapp"></i>
          Fale conosco no whatsapp!
        </a>
        <a href="https://www.instagram.com/elemedcs/" target="_blank">
          <i class="bi bi-instagram"></i>
          Siga-nos no Instagram!
        </a>
      </div>
    </div>
  </div>
</section>