<section class="secao-sobre" id="sobre">
  <div class="container-sobre">
    <h1 class="titulo-sobre">Sobre Nós</h1>
    <p class="conteudo-sobre">
      Com mais de 8 anos de experiência no mercado, nossa empresa é especializada na manutenção de equipamentos
      clínicos, oferecendo serviços de alta qualidade e excelência. Atuamos com o compromisso de garantir o pleno
      funcionamento e a segurança dos aparelhos essenciais para a saúde, proporcionando um atendimento personalizado
      e ágil, que atende às necessidades específicas de cada cliente.

      Nossa equipe altamente capacitada e certificada realiza manutenções preventivas e corretivas em uma vasta
      gama de equipamentos médicos, incluindo monitores multiparamétricos, ventiladores pulmonares,
      desfibriladores, eletrocardiógrafos e muito mais. Seguimos rigorosamente os padrões técnicos e normativos
      da área da saúde, assegurando que os aparelhos voltem a operar com máxima eficiência e precisão.

      Valorizamos a qualidade da entrega, entendendo que a manutenção adequada é essencial para prolongar a vida
      útil dos equipamentos e garantir diagnósticos e tratamentos confiáveis. Estamos prontos para atender
      clínicas, hospitais, laboratórios e outros estabelecimentos de saúde com o compromisso de excelência que
      nos diferencia no setor.
    </p>
  </div>
</section>