<section class="servicos" id="servicos">
  <h1 class="servicosTitulo">Alguns de nossos serviços</h1>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="servicosItem">
      <img src="../../assets/images/manutencao_calibragem_aparelhos_hospitalares.jpg" alt="">
      <h2>Calibração</h2>
      <p>A calibração de aparelhos médicos, conduzida por um engenheiro elétrico, é essencial para garantir a exatidão
        das medições realizadas pelos equipamentos. Esse serviço ajusta os instrumentos para que estejam alinhados com
        padrões de referência, promovendo diagnósticos precisos e segurança para pacientes e profissionais da saúde.</p>
    </div>

    <div class="servicosItem">
      <img src="../../assets/images/manutencao_preventiva_aparelhos_hospitalares.jpg" alt="">
      <h2>Manutenção Preventiva</h2>
      <p>A manutenção preventiva em aparelhos médicos realizada por um engenheiro elétrico visa garantir o pleno
        funcionamento e a segurança dos equipamentos. Esse serviço inclui inspeções periódicas, testes funcionais e
        ajustes necessários para evitar falhas, prolongar a vida útil dos aparelhos e assegurar a conformidade com
        normas técnicas.</p>
    </div>

    <div class="servicosItem">
      <img src="../../assets/images/manutencao_corretiva_aparelhos_hospitalares.jpg" alt="">
      <h2>Manutenção Corretiva</h2>
      <p>A manutenção corretiva é focada em reparar falhas ou defeitos que comprometem o desempenho dos aparelhos
        médicos. Realizada por um engenheiro elétrico, esse serviço identifica e corrige problemas técnicos com
        agilidade, minimizando o tempo de inatividade e restaurando a confiabilidade e precisão dos equipamentos.</p>
    </div>
  </div>
</section>